html, body{
    margin: 0;
    padding: 0;
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
}

*{
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
}

.red{
    background: #E74C3C;
}
.darkblue{
    background: #34495E;
}
.yellow{
    background: #F1C40F;
}
.green{
    background: #16A085;
}
.purple{
    background: #8E44AD;
}
.turquoise{
    background: #1ABC9C;
}
.emerald{
    background: #2ECC71;
}
.blue{
    background: #3498DB;
}
.belize{
    background: #2980B9;
}

.service{
    display: block;
    padding: 10px 15px;
    padding-right: 100px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
.servicetitle{
    display: block;
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #FFFFFF;
    line-height: 41px;
}
.servicedescription{
    display: block;
    padding:0px;
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 41px;
}

.addservice{
    position: absolute;
    top: 10px;
    right: 15px;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    font-size: 85px;
    color: #FFFFFF;
    text-align: center;
    line-height: .79;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    border: 5px solid #FFFFFF;
}
.addservice:after{
    content: "+";
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
}

.ratingnumber{
    position: absolute;
    top: 10px;
    right: 165px;
    width: 100px;
    text-align: left;
    font-size: 29px;
    color: #FFFFFF;
    line-height: 34px;
}

.manageservice{
    position: absolute;
    bottom: 25px;
    right: 15px;
}

#content {
    width: calc(100% - 305px);
    height: 100%;
    overflow-y:auto;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#topbanner{
    background: #9B59B6;
    height: auto;
    z-index: 1;
    width: 100%;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 30px 0;
}

#titlebox{
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
    border: 6px solid #FFFFFF;
    background-color: #3498D8;
    text-align: center;
    text-decoration: none;
    height: 80px;
    width: 390px;
    margin: 0 auto;
    line-height: 1;
}

#search-nav{
    height: 100%;
    width: 305px;
    display: inline-block;
    margin: 0;
    background-color: #2980B9;
    overflow-y: auto;
    position: relative;
}
#search-box{
    background: #F1C40F;
    height: 80px;
    width: 100%;
    display: block;
    margin: 0;
    text-align: center;
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
}

.input, #nav-search{
    margin-top: 25px;
    height: 30px;
    font-size: 22px;
    border: 0px;
    padding: 4px;
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    background:rgba(255, 255, 255, 1);
}

#nav-buttonsection{
    width: 100%;
    height: calc(100% - 80px);
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    display: block;
    overflow-y: auto;
}
#nav-buttonsection li{
    color:#FFFFFF;
    margin: 0;
    border: 3px solid #FFFFFF;
    margin-bottom: 17px;
    padding: 30px 0px;
    width: 270px;
    background: rgba(255,255,255,.4);
    display: inline-block;
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
#nav-buttonsection li:first-child{
    margin-top: 17px;
}

#nav-buttonsection li:hover{
    background:rgba(255,255,255,.3); 
    cursor:pointer;
}
.addservice:hover{
    cursor:pointer;
    background:rgba(255,255,255,.3)
}

#main{
    display: block;
    width: 100%;
    height: calc(100% - 152px);
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #9B59B6;
}

#full-body{
    width: 100%;
    height: calc(100% - 152px);
    padding-top: 40px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background: #9B59B6;
}

.ymlink, .ymlink:hover, .ymlink:visited{
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding: 2px 5px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 10px;
}
.ymlink:hover{
    background: rgba(255, 255, 255, .4);
}

input[type='text']{
    outline: none;
}