
        <header>
            <h1>Submit For</h1>
        </header>
        <form method="POST" action="/create">
            <label for="name">Name</label>
            <input type="text" name="name">
            <br>
            <label for="description">Description</label>
            <input type="text" name="description">
            <br>
            <span class="multi-input" data-name="tags">
                <label>Tags</label>
                <ul></ul>
                <input type="text">
            </span>
            <br>
            <label for="code">Code</label>
            <input type="text" name="code">
            <br>
            <label for="need_extra">Need Extra</label>
            <input type="checkbox" name="need_extra">
            <br>
            <span class="multi-input" data-name="extras">
                <ul></ul>
                <input type="text">
            </span>
            <br>
            <input type="submit" name="submit" value="Make Yo">
        </form>
