<header>
    <link rel="stylesheet" type="text/css" href="/static/create_service.css">
    <script type="text/javascript" src="/static/create_service.js"></script>
</header>
<form method="POST" action="/create">
    <a style="margin-top:20px" class="ymlink" href="/docs">need help?</a><br>
    <input class="input" type="text" name="name" placeholder="Service Name">
    <br>
    <textarea class="input" name="dscrpt" placeholder="Description"></textarea>
    <br>
    <span class="multi-input" data-name="tags">
        <ul></ul>
        <input class="input" type="text" placeholder="tag relevant topics">
    </span>
    <br>
    <textarea class="input" name="code" placeholder="paste/type your code"></textarea>
    <br>
    <label for="need_extra">Need Extra Info</label>
    <input id="the-unhider" class="input" type="checkbox" name="need_extra">
    <br>
    <span id="extra-hidden" class="multi-input" data-name="fields" style="display:none">
        <ul></ul>
        <input class="input" type="text" placeholder="Required Extra info">
    </span>
    <br>
    <input id="submit" type="submit" name="submit" value="Make Yo">
</form>