<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/static/create_service.js"></script>
    </head>
    <body>
        <header>
            <h1>Submit For</h1>
        </header>
        <form method="POST" action="/create">
            <label for="name">Name</label>
            <input type="text" name="name">
            <br>
            <label for="dscrpt">Description</label>
            <textarea name="dscrpt"></textarea>
            <br>
            <span class="multi-input" data-name="tags">
                <label>Tags</label>
                <ul></ul>
                <input type="text">
            </span>
            <br>
            <label for="code">Code</label>
            <textarea name="code"></textarea>
            <br>
            <label for="need_extra">Need Extra</label>
            <input type="checkbox" name="need_extra">
            <br>
            <span class="multi-input" data-name="fields">
                <label>Extra required fields</label>
                <ul></ul>
                <input type="text">
            </span>
            <br>
            <input type="submit" name="submit" value="Make Yo">
        </form>
    </body>
</html>