<html>
    <head>
        <title>YOMOTE</title>
        <link rel="icon" href="/static/favicon.ico" type="image/png">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <body>
        <header id="topbanner">
            <a style="text-decoration:none" href="/"><h1 id="titlebox">Yomote</h1></a>
        </header>
        <div id="full-body">
            <h1>YOMOTE Documentation</h1>
            <p>
            library's and stuff
            subscribers_count()
            prints the number of yo requests

            yoall(link=None)
            yo’s every subscriber with the given link

            yo(username, link=None, location=None)
            sends a yo to the user with a given link and location

            Requests

            Username
            Location
            Link
            Re
            Python regular expression library
            Now
            Returns Current date time
            Twiliorestclient
            User_data
            Edit 
            delete
            </p>
            <a class="ymlink" href="/">home</a>
        </div>
    </body>
</html>