<html>
    <head>
        <title>YOMOTE</title>
        <link rel="icon" href="favicon.ioc" type="image/png">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/static/index.js"></script>
    </head>
    <body>
<style type="text/css">
input[type="submit"]{
    top:0px;
    color:#FFFFFF;
    margin-top: 10px;
    border: 3px solid #FFFFFF;
    margin-bottom: 17px;
    padding: 10px 20px;
    width: 270px;
    background: rgba(255,255,255,.2);
    display: inline-block;
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}
p, p a{
    font-family: Montserrat, arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
}
</style>
        <header id="topbanner">
            <h1 id="titlebox">Yomote</h1>
        </header>
        <div id="full-body">
        <p>
            The callback for "{{ s_name }}" is:<br>
            <a href="{{ callback }}">{{ callback }}</a>
        </p>
        <form method="POST" action="/finish/{{ s_id }}">
            <input class="input" type="text" name="yo_handle" placeholder="Yo username for this">
            <br>
            <input class="input" type="text" name="yo_api_key" placeholder="Yo API-Key">
            <br>
            <input type="submit" value="Finish">
        </form>
        </div>
    </body>
</html>