<html>
<link rel="shortcut icon" href="YOAPPfavicon.ico" type="image/x-icon" />
    <head>
        <title>YOMOTE</title>
        <link rel="icon" href="/static/favicon.ico" type="image/png">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="/static/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>
        <div id="main">
            <header id="topbanner">
                <a style="text-decoration:none" href="http://yomote.co"> <h1 id="titlebox">Yomote</h1></a>
            </header>
            <nav id="search-nav">
                <div id="search-box">
                    <input id="nav-search" type="text" placeholder="Search">
                </div>
                <ul id="nav-buttonsection">
                    <a id="nav-hot" href="#"><li>Hot</li></a><br>
                    <a id="nav-recent" href="#"><li>Recent</li></a><br>
                    <a id="nav-create" href="{{c}}"><li>Create</li></a><br>
                    <a id="nav-about" href="#"><li>About</li></a><br>
                </ul>
            </nav>
            <div id="content">
                {% for s in services %}
                <div class="service">
                    <h1 class="servicetitle">{{s.name }}</h1>
                    <h2 class="servicedescription">{{s.dscrpt}}</h2>
                    <h3 class="ratingnumber">Yo's {{s.rating }}</h3>
                    <a class="vote"></a>
                    <a class="addservice" href="/add/{{ s._id }}"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
